body {
    background-color: #00ffff; /* cyan */
    font-family: Arial, sans-serif; /* jenis huruf yang bersih dan mudah di baca */
    color: #191970; /* warna teks biru utama */
}

.kartu-profil {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius:15px;
    box-shadow:   0  4px  8px rgba (R, G, B, A);
    text-align: center;
  }


  .kartu-profil img {
      width: 150px;
      heigt: 150px;
      border-radius: 50%;
  }
